.btn {
	border: none;
	border-radius: 10px;
	padding: 15px 30px;
	display: inline-block;
	background: black;
	color: white;
	cursor: pointer;
	transition: all 0.3s;
	margin-right: 20px;
	width: 130px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-bottom: 10px;

	&.btn-white {
		background-color: white;
		color: black;
	}
}
.login {
	background-color: red;
	width: auto;
	margin-right: 0;
	margin-top: 15px;
}
.google-sign-in {
	margin-top: 15px;
	margin-right: 0;
	background-color: #4b99e9;
}
.btn a:visited {
	color: black;
}

.btn:hover {
	background: white;
	color: black;
	z-index: 1;
}

@media (max-width: 650px) {
	.btn {
		font-size: 10px;
		width: 25%;
	}

	.btn svg {
		display: none;
	}
	.google-sign-in {
		font-size: 15px;
	}
	.google-sign-in svg {
		display: unset;
	}
}
@media (max-width: 500px) {
	.btn {
		background: white;
		font-weight: 800;
		font-size: 15px;
		color: black;
		width: 130px;
	}
	.btn svg {
		display: block;
	}
	.btn:visited {
		background: white;
		font-weight: 800;
		color: black;
	}
	.google-sign-in {
		background-color: #4b99e9;
		font-weight: 600;
		color: white;
	}
	.login {
		background-color: red;
		width: auto;
		font-weight: 600;
		margin-right: 0;
		margin-top: 15px;
	}
}
