$color-red: #d30000;
$color-dark: #141414;

.pinning-header {
	height: 70px;
}

.nav-container {
	position: relative;
	top: 0px;
	min-width: 720px;
	width: 100%;
	background-color: transparent;
	background-image: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0.7) 10%,
		transparent
	);
	font-family: Ensconce;
	letter-spacing: 2px;
	z-index: 1;
	overflow: hidden;

	height: 70px;
	display: flex;
	align-items: center;
	padding: 0 4%;
	transition: background-color 2s;
	top: 0;
	left: 0;
	right: 0;
	z-index: 50;
}

.nav-bar {
	display: flex;
	justify-content: space-between;
	font-size: 24px;
}

.logo {
	width: 150px;
	height: 41.66px;
	background-image: url(../../../public/nintendoflix-logo.png);

	background-size: 100% 100%;
}

.menu-primario {
	list-style: none;
	display: flex;
}

.icon {
	margin-right: 10px;
}

.menu-secundario {
	list-style: none;
	display: flex;
	position: absolute;
	right: 4%;
}

.nav-bar li {
	margin-left: 15px;
}

// .nav-container {
// 	margin-left: 30px;
// }

a:visited {
	color: white;
}

@media (max-width: 1000px) {
	.nav-bar {
		font-size: 20px;
	}
}
@media (max-width: 700px) {
	.nav-bar {
		font-size: 15px;
	}
}
@media (max-width: 501px) {
	.pinning-header {
		overflow: hidden;
		height: 100px;
	}
	.nav-container {
		background-image: linear-gradient(
			180deg,
			(
					hsla(0, 0%, 8%, 0) 0,
					hsla(0, 0%, 8%, 0.15) 15%,
					hsla(0, 0%, 8%, 0.35) 29%,
					hsla(0, 0%, 8%, 0.58) 44%,
					#141414 68%,
					#141414
				)
				transparent
		);
		flex-direction: column;
		gap: 20px;
		align-items: center;
		justify-content: center;
		min-width: unset;
		height: 100px;
	}
	.nav-bar {
		font-size: 20px;
		padding-top: 20px;
	}

	.logo {
		background-image: url(../../../public/nintendoflix-logo-mobile.png);
		position: absolute;
		width: 40px;
		height: 40px;
		left: 4%;
		top: 15%;
	}
	.menu-primario {
		position: absolute;
		left: 20%;
	}
	.menu-primario a {
		display: flex;
	}
	.menu-secundario {
		top: 25%;
	}
	.menu-secundario li:nth-child(2) {
		display: none;
	}
}
