.footer {
	height: 200px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.social-mideas {
	font-size: 25px;
	display: flex;
	gap: 10px;
}

.social-mideas a {
	color: white;
	font-size: 20px;
}
.social-mideas a:visited {
	color: white;
	font-size: 20px;
}

@media (max-width: 500px) {
	.footer {
		height: 50px;
		font-size: 10px;
	}
	.social-mideas {
		gap: 5px;
		width: 100px;
		color: white;
	}

	.social-mideas a {
		font-size: 15px;
	}
}
