.container {
	top: 70px;
}
.display {
	margin-top: 50px;
	margin: 0 auto;
}

.control-info {
	margin: 30px 4%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}

.control-info p {
	font-size: 12px;
}

.joystick-info {
	width: 500px;
}

@media (max-width: 500px) {
	.container {
		top: 100px;
	}
}
